<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title></title>
		<style scope>
			.row-padding-v-lg {
				padding-top: 15px;
				padding-bottom: 15px;
			}
			.row-padding-v-sm {
				padding-top: 3px;
				padding-bottom: 3px;
			}

			.left-head {
				/*max-width: 40px;*/
				width: 10%;
			}
			.row-padding-h-sm {
				padding-left: 8px;
				padding-right: 8px;
			}

			.data-content {
				padding: 15px;
			}
		</style>
	</head>
	<body>
		<div style="text-align: center;">
			<div style="width: 800px;margin: auto;">
				<div>
					<div style="text-align: right;">XX/T XXXXX--XXXX</div>
					<div>附录</div>
					<div>（资料性附录）</div>
					<div>器官运输记录单</div>
					<div style="text-align: right;">
						<img style="height: 70px;" src="images/icon.png" alt="">
					</div>
					<div style="font-size: 18px;">器官运输记录单</div>
					<div style="text-align: left;margin-top: 10px;margin-bottom: 5px;">
					器官捐献者编号：
					<input type="text" style="border:none;border-bottom: 1px solid black;" readonly="readonly" value="<%=transferInfo.organInfo.segNumber%>">
					</div>
				</div>
				<table border="1" cellpadding="0" cellspacing="0" style="margin: auto;width: 800px;">
					<thead>

					</thead>
					<tbody style="text-align: center;">
						<tr>
							<td class="left-head row-padding-h-sm" rowspan="4">器官信息</td>
							<td style="width: 30%;" class="row-padding-v-lg" colspan="3">器官类型</td>
							<td style="width: 30%;" class="row-padding-v-lg" colspan="3">数量</td>
							<td style="width: 30%;" class="row-padding-v-lg" colspan="3">供体血型</td>
						</tr>
						<tr>
							<td style="width: 30%;" class="data-content" colspan="3"><%=transferInfo.organInfo.type %></td>
							<td style="width: 30%;" class="data-content" colspan='3'><%=transferInfo.organCount%></td>
							<td style="width: 30%;" class="data-content" colspan='3'><%=transferInfo.organInfo.bloodType %></td>
						</tr>
						<tr>
							<td style="width: 22.5%;" class="row-padding-v-sm" colspan="2">获取时间</td>
							<td style="width: 22.5%;" class="row-padding-v-sm" colspan="3">保存温度</td>
							<td style="width: 22.5%;" class="row-padding-v-sm" colspan="3">配型样本</td>
							<td style="width: 22.5%;" class="row-padding-v-sm" colspan="1">血液样本</td>
						</tr>
						<tr>
							<td style="width: 22.5%;" class="data-content" colspan="2"><%=transferInfo.getOrganAt%></td>
							<td style="width: 22.5%;" class="data-content" colspan="3"><%=transferInfo.records[0].avgTemperature%></td>
							<td style="width: 22.5%;" class="data-content" colspan="3"><%=transferInfo.organInfo.organizationSampleCount%></td>
							<td style="width: 22.5%;" class="data-content" colspan="1"><%=transferInfo.organInfo.bloodSampleCount%></td>
						</tr>
						<tr>
							<td class="left-head row-padding-h-sm" rowspan="2">运输信息</td>
							<td class="row-padding-v-lg" colspan="2">运输起始地</td>
							<td class="row-padding-v-lg" colspan="3">运输目的地</td>
							<td class="row-padding-v-lg" colspan="3">运输方式</td>
							<td class="row-padding-v-sm" colspan="1">车牌号/列车车次/航班号等</td>
						</tr>
						<tr>
							<td class="data-content" colspan="2"><%=transferInfo.fromCity%></td>
							<td class="data-content" colspan="3"><%=transferInfo.toHospitalInfo.name%></td>
							<td class="data-content" colspan="3"><%=transferInfo.tracfficType%></td>
							<td class="data-content" colspan="1"><%=transferInfo.tracfficNumber%></td>
						</tr>
						<tr>
							<td class="left-head row-padding-h-sm" rowspan="4">联系信息</td>
							<td class="row-padding-v-sm" colspan="3">器官获取组织</td>
							<td class="row-padding-v-sm" colspan="4">联系人</td>
							<td class="row-padding-v-sm" colspan="2">电话</td>
						</tr>
						<tr>
							<td class="data-content" colspan="3"><%=transferInfo.opoInfo.name%></td>
							<td class="data-content" colspan='4'><%=transferInfo.opoInfo.contactPerson%></td>
							<td class="data-content" colspan='2'><%=transferInfo.opoInfo.contactPhone%></td>
						</tr>
						<tr>
							<td class="row-padding-v-sm" colspan="3">器官接收医院</td>
							<td class="row-padding-v-sm" colspan='4'>联系人</td>
							<td class="row-padding-v-sm" colspan='2'>电话</td>
						</tr>
						<tr>
							<td class="data-content" colspan="3"><%=transferInfo.toHospitalInfo.name%></td>
							<td class="data-content" colspan='4'><%=transferInfo.transferPersonInfo.name%></td>
							<td class="data-content" colspan='2'><%=transferInfo.transferPersonInfo.phone%></td>
						</tr>
						<tr>
							<td class="left-head row-padding-h-sm" rowspan="2">完成信息</td>
							<td class="row-padding-v-lg" colspan="3">运输过程中突发情况</td>
							<td class="data-content" colspan="6"><%=transferInfo.badInfo%></td>
						</tr>
						<tr>
							<td class="row-padding-v-lg" colspan="3">开箱后检验情况</td>
							<td class="data-content" colspan="6"></td>
						</tr>
						<tr>
							<td class="row-padding-v-lg" colspan="2">填表人</td>
							<td colspan="3"><%=transferInfo.transferPersonInfo.name%></td>
							<td class="row-padding-v-lg" colspan="3">日期</td>
							<td colspan="2"><%=transferInfo.endAt%></td>
						</tr>
					</tbody>
					<tfoot>

					</tfoot>

				</table>
			</div>

		</div>
	</body>
</html>
